POSTGRES_DB=rescue_alert
POSTGRES_USER=rescue_user
POSTGRES_PASSWORD=change_me_now
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

POSTGRES_DB=rescue_alert
POSTGRES_USER=rescue_user
POSTGRES_PASSWORD=change_me_now
POSTGRES_HOST=db
POSTGRES_PORT=5432
SECRET_KEY=django-insecure-dev-only-change-this-before-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost