# Python
venv/
__pycache__/
*.pyc

# Django
db.sqlite3

# Environment variables
.env

# Secrets
backend/firebase-service-account.json

# Mac
.DS_Store

# Admin panel (Node.js)
admin-panel/node_modules/
admin-panel/dist/
admin-panel/.env._*
